<% if background_image(current_user) %>
  <% content_for :background do %>
    <div class="bg-full" id="bg-headshot" style="background-image: url(<%= background_image(current_user).image_url(:background) %>)"></div>
  <% end %>
<% end %>

<h1><%= current_user.name %></h1>

<% if current_user.resume %>
  <%= link_to "Edit Personal Information", edit_resume_path %>
<% else %>
  <%= link_to "Edit Personal Information", new_resume_path %>
<% end %>

<h3>Your Head Shots</h3>
<%= link_to 'Edit', headshots_path, id: "edit-headshots" %>

<% if current_user.headshots.present? %>
  <% current_user.headshots.each do |headshot| %>
    <div class="headshot"><%= image_tag(headshot.image_url(:thumb)) %></div>
  <% end %>
<% else %>
  <div class="add-headshots"><%= link_to "Add Headshots", headshots_path %></div>
<% end %>

<h3>Your Videos</h3>
<%= link_to 'Edit', videos_path, id: "edit-videos" %>

<% if current_user.videos.present? %>
    <% current_user.videos.each do |video| %>
      <div class="video">
        <%#= image_tag(video.video_thumb_url, class: "video-thumbnail") %>
        <% if video.youtube_id.present? %>
          <iframe width="258" height="145" src="http://www.youtube.com/embed/<%= video.youtube_id %>?autoplay=0&rel=0" frameborder="0" allowfullscreen class="cast-video"></iframe>
        <% elsif video.vimeo_id.present? %>
          <iframe width="258" height="145" src="https://player.vimeo.com/video/<%= video.vimeo_id %>?autoplay=0&portrait=0&color=CF7513" frameborder="0" allowfullscreen class="cast-video"></iframe>
        <% end %>
        <%#= image_tag asset_path('button-play.png'), :class => "play-button" %>
      </div>
    <% end %>
<% else %>
  <div class="add-videos"><%= link_to "Add Videos", videos_path %></div>
<% end %>

<h3>Experience</h3>
<% current_user.projects %>
<%= render template: 'projects/show' %>
