<% if current_resume.background_image %>
  <% content_for :background do %>
    <div class="bg-full" id="bg-headshot" style="background-image: url(<%= current_resume.background_image.image_url(:background) %>)"></div>
  <% end %>
<% end %>

<% if current_user.happy_birthday? %>
  <h3>Happy Birthday!</h3>
<% end %>

<h3>Hello <%= current_user.name %></h3>
<h1>My Close Up</h1>

<div class="account-information">
  <%= link_to "Edit Account Information", edit_accounts_path %> / 
  <%= link_to "Change Password", edit_user_registration_path %>
</div>

<%= link_to "Edit Resume", edit_resume_path, class: "btn", id: "dashboard-edit-resume" %>
<% if current_user.mentor? %>
  <%= link_to "Post Your Casting Notices", page_path("calendar"), class: "btn" %>
<% end %>

<% if current_user.resume %>
  <%= link_to "Print Resume", print_resume_path(current_user.resume.slug), target: "_blank", class: "btn" %>

  <% if current_user.mentor? || current_user.admin? %>
    <%= link_to 'View Available Critiques', critiques_path, class: "btn critique" %>
  <% else %>
    <%= link_to 'Request Critique', new_critique_path, class: "btn available-critique" %>
  <% end %>

  <p class="resume-url">Your public resume URL: <span><%= public_resume_url(current_user.resume.slug) %></span></p>
<% end %>

<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <h2>Your Photos <span><%= link_to 'Manage', edit_resume_path, id: "edit-headshots", class: "btn btn-small" %></span></h2>
        <p>You can upload a maximum of 10 head shots to your resume and you can set one as the main background image</p>

        <% if current_resume.headshots.present? %>
          <% current_resume.headshots.each do |headshot| %>
            <div class="dashboard-headshot"><%= image_tag(headshot.image_url(:thumb)) %></div>
          <% end %>
        <% else %>
          <div class="add-headshots"><%= link_to "Add a photo", edit_resume_path %></div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Your Videos <span><%= link_to 'Manage', edit_resume_path, id: "edit-videos", class: "btn btn-small edit-videos" %></span></h2>
        <p>Add YouTube or Vimeo links to embed video into your resume.</p>

        <% if current_resume.videos.present? %>
          <% current_resume.videos.available.each do |video| %>
            <%= render "shared/video_player", video: video %>
          <% end %>
        <% else %>
          <div class="add-videos"><%= link_to "Add a video", edit_resume_path %></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4 dashboard-experience">
    <h2>Experience <span><%= link_to 'Manage', edit_resume_path, class: "btn btn-small" %></span></h2>
    <%= render template: 'projects/show', locals: { projects: current_resume.projects } if current_resume.projects.present? %>
  </div>
</div>
