<h1>Dashboard</h1>

<h1><%= current_user.name %></h1>

  <% if current_user.resume && current_user.resume.avatar? %>
    <h3>Your Hot Shot</h3>
    <%= image_tag(current_user.resume.avatar_url(:thumb)) %>
  <% end %>

  <% if current_user.resume %>
    <%= link_to 'Upload Hot Shot', edit_resume_path %>
  <% else %>
    <%= link_to 'Upload Hot Shot', new_resume_path %>
  <% end %>

  <% if current_user.resume %>
    <%= render template: 'resumes/show' %>
  <% else %>
    <%= link_to 'Create Resume', new_resume_path %>
  <% end %>

  <%= render template: 'users/show' %>

  <% if current_user.projects %>
    <%= render template: 'projects/show' %>
  <% else %>
    <%= link_to 'New Project', new_project_path %>
  <% end %>

  <% if current_user.schools %>
    <%= render template: 'schools/show' %>
  <% else %>
    <%= link_to 'New School', new_school_path %>
  <% end %>
