<%= form_for @message, :url => message_path do |f| %>
  <% if f.object.errors %>
    <% f.object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  <% end %>
  <div class="message-subject">
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </div>
  <div class="message-body">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit "Save" %>
<% end %>