<% content_for :background do %>
  <div class="bg-full" id="bg-pricing"></div>
<% end %>
<h1>Membership</h1>
<div class="row">
  <div class="col-md-3">
    <h3>Annual Subscription</h3>
    <h1 class="pricing">$5.83</h1>
    <p>$69.99 paid annually</p>
    <button class="btn register-annual collapsed" type="button" data-toggle="collapse" id="annual-btn" data-target="#annualsub" aria-expanded="false" aria-controls="annualsub">Select</button>
    <div class="collapse" id="annualsub">
      <h3>Credit Card Info</h3>
      <%= form_tag :membership, method: :post, id: :membership_annual do %>
        <%= render 'registrations/payment_fields' %>
        <%= hidden_field_tag :account_type, Stripe::Plans::ANNUAL %>
        <%= hidden_field_tag :redirect_to, params[:redirect_to] %>
        <input type="submit" value="Submit">
      <% end %>
    </div>
  </div>
  <div class="col-md-3">
    <h3>Monthly</h3>
    <h1 class="pricing">$7.99</h1>
    <button class="btn collapsed" type="button" data-toggle="collapse" id="monthly-btn" data-target="#monthlysub" aria-expanded="false" aria-controls="monthlysub">Select</button>
    <div class="collapse" id="monthlysub">
      <h3>Credit Card Info</h3>
      <%= form_tag :membership, method: :post, id: :membership_monthly do %>
        <%= render 'registrations/payment_fields' %>
        <%= hidden_field_tag :account_type, Stripe::Plans::MONTHLY %>
        <%= hidden_field_tag :redirect_to, params[:redirect_to] %>
        <input type="submit" value="Submit">
      <% end %>
    </div>
  </div>
  <div>
    <h3>Talent Mentor Professional Critiques</h3>
    <h1 class="pricing">$24.99</h1>
    <p>CastNotice Membership Required</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render 'shared/membership_advantages' %>
  </div>
</div>
