<h1>Membership</h1>

<h2>Select a subscription</h2>

<div class="row panel-group" id="memberships">
  <div class="col-md-4">
    <h3>Annual Subscription</h3>
    <div class="row annual-price">
      <div class="col-md-5">
        <h1 class="pricing">$5.83</h1>
      </div>
      <div class="col-md-5 description">
        <p>$69.99 paid annually</p>
      </div>
    </div>
    <button class="btn register-annual collapsed" type="button" data-toggle="collapse" id="annual-btn" data-target="#annualsub" aria-expanded="false" aria-controls="annualsub">Select</button>
    <div class="collapse" id="annualsub">
      <h3>Credit Card Info</h3>
      <%= form_tag :membership, method: :post, id: :membership_annual do %>
        <%= render 'registrations/payment_fields' %>
        <%= hidden_field_tag :account_type, Stripe::Plans::ANNUAL %>
        <%= hidden_field_tag :redirect_to, params[:redirect_to] %>
        <input type="submit" value="Submit">
      <% end %>
    </div>
  </div>
  <div class="col-md-4">
    <h3>Monthly</h3>
    <h1 class="pricing">$7.99</h1>
    <button class="btn collapsed" type="button" data-toggle="collapse" id="monthly-btn" data-target="#monthlysub" aria-expanded="false" aria-controls="monthlysub">Select</button>
    <div class="collapse" id="monthlysub">
      <h3>Credit Card Info</h3>
      <%= form_tag :membership, method: :post, id: :membership_monthly do %>
        <%= render 'registrations/payment_fields' %>
        <%= hidden_field_tag :account_type, Stripe::Plans::MONTHLY %>
        <%= hidden_field_tag :redirect_to, params[:redirect_to] %>
        <input type="submit" value="Submit">
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3 class="small">Talent Mentor Professional Critiques</h3>
    <dl>
      <dd>$24.99 (charged upon submitting critique request)</dd>
    </dl>
  </div>
</div>

<h3>Membership Advantages</h3>
<ul class="checkmark">
  <li>Receive constructive critiques on your videos and pictures and exposure from top entertainment industry hiring professionals.</li>
  <li>Your videos, headshots and resumes are automatically formatted for all computers and mobile phones.</li>
  <li>Extensive calendar of casting calls that automatically matches your profile. </li>
  <li>The first searchable, filtered and curated global talent database.</li>
  <li>Pre&ndash;audition for your choice universities and obtain invaluable feedback from department heads and faculty members.</li>
  <li>Universities pre&ndash;recruiting using the database and critiqued videos.</li>
  <li>Electronic industry invitation system for personal performances, appearances and special dates.</li>
  <li>Q &amp; A sessions, educational forums and webisodes are hosted by foremost industry leaders.</li>
  <li>Cutting edge social networking built around your calendar personal events.</li>
  <li>Personal audition and performance journals built into subscribers&rsquo; profiles.</li>
  <li>Connect with our global community of talent.</li>
  <li>Geographical, financial and time barriers are eliminated.</li>
</ul>
