<h1>Create an event</h1>
<p>Fill out the fields below to create a new calendar event. * Denotes a required field.</p>
<div class="row">
  <div class="col-sm-3">
    <%= e.label :project_title, "Name of Project"%>*
  </div>
  <div class="col-sm-9">
    <%= e.text_field :project_title %>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <%= e.label :project_type_id, "Project Type" %>*
  </div>
  <div class="col-sm-9">
    <%= e.select :project_type_id, for_select_by_model(ProjectType) %>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <%= e.label :region_id, "Region"%>*
  </div>
  <div class="col-sm-9">
    <%= e.select :region_id, for_select_by_model(Region) %>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <%= e.label :union_ids, "Union" %>*
  </div>
  <div class="col-sm-9">
    <%= e.collection_check_boxes :union_ids, Union.all, :id, :name %>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <%= e.label :location, "Audition Location" %>*
  </div>
  <div class="col-sm-9">
    <%= e.text_field :location %>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <%= e.label :production_location, "Production Location" %>*
  </div>
  <div class="col-sm-9">
    <%= e.text_field :production_location %>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <%= e.label :casting_director, "Casting Director" %>
  </div>
  <div class="col-sm-9">
    <%= e.text_field :casting_director %>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <%= e.label :staff, "Staff"%>*
  </div>
  <div class="col-sm-9">
    <%= e.text_area :staff %>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <%= e.label :storyline, "Story" %>
  </div>
  <div class="col-sm-9">
    <%= e.text_area :storyline %>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <%= e.label :how_to_audition, "Audition Details" %>*
  </div>
  <div class="col-sm-9">
    <%= e.text_area :how_to_audition %>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <%= e.label :audition_date, "Date of Audition" %>*
  </div>
  <div class="col-sm-6" id="event_audition_dates_fields">
    <%= link_to_add_association "Add new date", e, :event_audition_dates, 'data-association-insertion-method' => :append %>
    <%= e.fields_for :event_audition_dates do |ad|  %>
      <%= render 'event_audition_date_fields', f: ad %>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="col-sm-3">
    <%= e.label :audition_times, "Audition Times"%>*
  </div>
  <div class="col-sm-9">
    <%= e.text_area :audition_times %>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <%= e.label :paid, "Paid?" %>
  </div>
  <div class="col-sm-9">
    <%= e.check_box :paid %>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <%= e.label :stipend, "Stipend?" %>
  </div>
  <div class="col-sm-9">
    <%= e.check_box :stipend %>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <%= e.label :pay_rate, "Pay Rate"%>*
  </div>
  <div class="col-sm-9">
    <%= e.text_field :pay_rate %>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <%= e.label :special_notes, "Special Notes" %>
  </div>
  <div class="col-sm-9">
    <%= e.text_area :special_notes %>
  </div>
</div>
