<h1>New Message</h1>
<%= form_for @conversation do |f| %>
  <%= f.label :recipient_id, "To" %>
  <%= link_to @recipient.name, public_resume_path(@recipient.resume.slug), class: "correspondent" %>
  <%= f.hidden_field :recipient_id %>

  <%= f.label :subject, "Subject" %>
  <%= f.text_field :subject %>

  <%= f.fields_for :messages do |ff| %>
    <div class="message">
      <%= ff.label :body, "Message" %>
      <%= ff.text_area :body %>
      <%= ff.hidden_field :recipient_id %>
    </div>
  <% end %>

  <%= f.submit "Send Message" %>
<% end %>

