<h1>New Message</h1>
<%= form_for @conversation do |f| %>
  <%= label_tag "To" %>
  <%= link_to @recipient.name, public_resume_path(@recipient.resume.slug), class: "correspondent" %>
  <%= hidden_field :conversation, :recipient_id %>

  <%= f.label :subject, "Subject" %>
  <%= f.text_field :subject %>

  <%= f.fields_for :messages do |ff| %>
    <div class="message">
      <%= ff.label :body, "Message" %>
      <%= ff.text_area :body %>
    </div>
  <% end %>

  <%= f.submit "Send Message" %>
<% end %>

