<h1>Conversation with <%= @correspondent.name %> </h1>
<div class="conversation">
  <div class="conversation-header">
    <p>From</p>
    <h3><%= link_to @correspondent.name, public_resume_path(@correspondent.resume.slug) %></h3>
    <p>Subject</p>
    <h3><%= @conversation.subject %></h3>
  </div>
  <div class="conversation-messages">
    <% @conversation.messages.each do |message| %>
      <div class="conversation-message">
        <div class="body"><%= message.body %></div>
      </div>
    <% end %>
  </div>
  <div class="reply-conversation">
    <%= form_for @message do |f| %>
      <%= f.label :body, "Message" %>
      <%= f.text_area :body %>
      <%= f.hidden_field :recipient_id %>
      <%= f.hidden_field :conversation_id, value: @conversation.id %>
      <%= f.submit "Reply" %>
    <% end %>
  </div>
</div>
