<% content_for :background do %>
  <div class="bg-full" id="bg-pricing"></div>
<% end %>
<%= form_tag promo_path do %>
  <h1>Promo Code</h1>
  <%= label_tag :promo_code, "Promo Code", style: "display: none" %>
  <%= text_field_tag :promo_code, nil, placeholder: "Promo Code" %>
  <div class="promo-or-log-in">
    <%= submit_tag "Register", class: "btn" %>
    <span>or</span> <%= link_to "log in", new_user_session_path %>
  </div>
<% end %>
