<div class="is-hidden parent-questions">
  <%= f.label :parent_name, "Parents Fullname" %>
  <%= f.text_field :parent_name %>

  <%= f.label :parent_email, "Parents Email" %>
  <%= f.email_field :parent_email %>

  <%= f.label :parent_location, "Parents Street Address" %>
  <%= f.text_field :parent_location %>

  <%= f.label :parent_location_two, "Parents Suite/Apt" %>
  <%= f.text_field :parent_location_two %>

  <%= f.label :parent_city, "Parents City" %>
  <%= f.text_field :parent_city %>

  <%= f.label :parent_state, "Parents State" %>
  <%= f.select :parent_state, us_states_select %>

  <%= f.label :parent_zip, "Parents Zip code" %>
  <%= f.text_field :parent_zip %>

  <%= f.label :parent_phone, "Parents Phone" %>
  <%= f.text_field :parent_phone %>
</div>