<h1>Mentor Account</h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <% if resource && resource.errors.present? %>
    <%= devise_error_messages! %>
  <% end %>

  <%= f.label :name, "Full Name" %>
  <%= f.text_field :name, :autofocus => true %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.label :location_address, "Address One" %>
  <%= f.text_field :location_address %>

  <%= f.label :location_address_two, "Address Two" %>
  <%= f.text_field :location_address_two %>

  <%= f.label :location_city, "City" %>
  <%= f.text_field :location_city %>

  <%= f.label :location_state, "State" %>
  <%= f.select :location_state, us_states_select %>

  <%= f.label :location_zip, "Zip code" %>
  <%= f.text_field :location_zip %>

  <%= hidden_field_tag :account_type, "mentor" %>
  <%= f.hidden_field :mentor, value: true %>

  <%= f.fields_for :mentor_bio do |bio| %>
    <%= bio.label :company, "Current Company" %>
    <%= bio.text_field :company %>
    <%= bio. label :company_address, "Company Address" %>
    <%= bio.text_field :company_address %>
    <%= bio.label :company_phone, "Company Phone" %>
    <%= bio.phone_field :company_phone %>

    <%= bio.label :past_company, "Past Companies" %>
    <%= bio.text_field :past_company %>

    <%= bio.label :current_projects, "Current Projects" %>
    <%= bio.text_field :current_projects %>

    <%= bio.label :teaching_experience, "Teaching Experience" %>
    <%= bio.text_area :teaching_experience %>

    <div class="union-checkbox collection-checkbox">
      <h4>Talent Expertise</h4>
      <%= bio.collection_check_boxes :talent_expertise, expertise_checkboxes, :last, :first %>
    </div>

    <div class="union-checkbox collection-checkbox">
      <h4>Dance Expertise</h4>
      <%= bio.collection_check_boxes :dance_style, dance_style_checkboxes, :last, :first %>
    </div>

    <%= bio.label :education_experience, "Educational Experience" %>
    <%= bio.text_area :education_experience %>

    <%= bio.label :artistic_organizations, "Favorite Artistic Organizations" %>
    <%= bio.text_area :artistic_organizations %>
  <% end %>

    <div class="input-wrapper"><%= f.label :birthday %>
      <%= f.date_select :birthday, start_year: 1950, end_year: Time.now.year, :include_blank => true %>
    </div>

    <div>
      <%= f.label :tos, "Accept our Terms of Service" %>
      <%= f.check_box :tos %>
    </div>
  <%= f.submit "Sign up" %>
<% end %>
