<% unless current_user.at_maximum_videos? %>
  <h1>Upload Videos</h1>

  <%= form_for @video do |p| %>
    <%= p.label :video_url, "Video" %>
    <%= p.text_field :video_url %>

    <%= p.submit "Upload" %>
  <% end %>
<% end %>

<% if @videos %>
  <ul>
    <% @videos.each do |video| %>
      <li>
        <%= image_tag(video.video_thumb_url, class: "video-thumbnail") %>
        <% if video.youtube_id.present? %>
          <iframe width="258" height="145" src="http://www.youtube.com/embed/<%= video.youtube_id %>?autoplay=0&rel=0" frameborder="0" allowfullscreen class="cast-video"></iframe>
        <% elsif video.vimeo_id.present? %>
          <iframe width="258" height="145" src="https://player.vimeo.com/video/<%= video.vimeo_id %>?autoplay=0&portrait=0&color=CF7513" frameborder="0" allowfullscreen class="cast-video"></iframe>
        <% end %>
        <%#= image_tag asset_path('button-play.png'), :class => "play-button" %>
        <%= link_to "Delete", video_path(video), method: :delete %>
      </li>
    <% end %>
  </ul>
<% end %>
