<% content_for :background do %>
  <div class="bg-full" id="bg-contact"></div>
<% end %>

<h1>Contact</h1>

<h3>To reach CastNotice, please fill out the form below and someone will respond to you as quickly as possible.</h3>

<%= form_for :contact, :url => contacts_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :subject %>
  <%= f.text_field :subject %>
  <%= f.label :content, "Message" %>
  <%= f.text_area :content %>
  <%= f.submit "Submit" %>
<% end %>

