<h1>Camps</h1>

<% @camps.each do |camp| %>
  <div class="row">
  <div class="col-sm-12">
    <div class="row critique-request">
      <h3><%= camp.name %></h3>
      <p>code: <%= camp.code %></p>
      <p><%= link_to "edit", edit_superadmin_camp_path(camp) %></p>
      <h4>Unregistered</h4>
      <% if @unregistered[camp.code].present? %>
        <p><small>Successfully ordered this camp, but have not yet registered here</small></p>
        <ul>
        <% @unregistered[camp.code].each do |order| %>
          <li>
            <%= order.email %>
            (<%= new_camper_registration_url(order_id: order.order_id) %>)
          </li>
        <% end %>
        </ul>
      <% else %>
          <p>Everyone who has ordered has also finished registration.</p>
      <% end %>
      <h4>Registered</h4>
      <p><%= pluralize camp.camper_count, "camper" %> are fully registered</p>
      <p>
        <%= link_to "download roster (csv)", superadmin_camp_path(camp, format: :csv) %>
      </p>
    </div>
  </div>
</div>
<% end %>

<p>
  <%= link_to "Add new camp", new_superadmin_camp_path, class: "btn" %>
</p>
