<h1>Available Critiques</h1>
<div class="back">
  <%= link_to "Back to My Close Up", dashboard_path, class: "btn" %>
</div>
<% @critiques.each do |c| %>
  <div class="row">
    <div class="col-sm-12">
      <div class="critique-request">
        <div class="row">
          <div class="col-sm-6">
            <div class="critique-owner">
              <p>Critique submitted by:</p>
              <h3><%= c.user.name %></h3>
            </div>
            <div class="critique-types">
              <p>Critique Type:</p>
              <h3><%= c.types.map {|t| I18n.t("helpers.label.critique.types.#{t}")}.join(", ") %></h3>
            </div>   
          </div>
          <div class="col-md-6">
            <div class="critique-title">
              <p>Project Title:</p>
              <h3><%= c.project_title %></h3>
            </div>
            <div class="critique-time">
              <p>This critique was submitted <%= time_ago_in_words(c.created_at) %> ago.</p>
            </div>
            <div class="critique-view">
              <% if c.closed? %>
                <div class="critique-closed">
                  <p>Status: Completed</p>
                </div>
                <% if current_user.admin? %>
                  <%= link_to "View", critique_path(c.uuid), class: "btn" %>
                <% end %>
              <% else %>
                <div class="critique-open">
                  <%= link_to "View", critique_path(c.uuid), class: "btn" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
