<h1>Submit Critique Request</h1>

<%= form_for @critique do |f| %>
  <%= f.label :project_title, "Project Title" %>
  <%= f.text_field :project_title %>
  <%= f.label :types, "Critique Type" %>
  <%= f.select(:types, type_select, {}, {multiple: true, size: 5})%>
  <%= f.label :notes, "Comments/Notes", class: "critique-notes" %>
  <%= f.text_area :notes %>

  <h2>Critique Photos</h2>
  <p>Choose two photos to use for your critique.</p>
  <div>
    <%= f.fields_for :headshots do |ff| %>
      <%= ff.file_field :image %>
    <% end %>
  </div>

  <h2>Critique Video</h2>
  <p>Paste video URL from YouTube or Vimeo.</p>
  <div>
    <%= f.fields_for :videos do |ff| %>
      <%= ff.text_field :video_url %>
    <% end %> 
  </div>

  <p>or upload a video</p>
  <div>
    <%= f.fields_for :videos do |ff| %>
      <%= ff.label :video %>
      <%= ff.file_field :video %>
    <% end %>
  </div>

  <div class="critique-payment">
    <% if current_user.eligible_for_free_critique? %>
      <div class="free-critique">
        <p>You have 1 free critique included in your membership plan. No payment
          required!</p>
      </div>
    <% else %>
      <div class="paid-critique">
        <p>When you click Request Critique, we will charge $24.99 to the credit
          card you have on file from registration.</p>
      </div>
    <% end %>
  </div>

  <%= f.submit "Submit Critique", id: "submit-critique" %>
<% end %>
