<h1>Critique Requested</h1>

<h3>Project Title</h3>
<%= @critique.project_title %>

<h3>Critique Type</h3>
<%= @critique.types.map {|t| I18n.t("helpers.label.critique.types.#{t}")}.join(", ") %>

<h3>Project Notes</h3>
<%= @critique.notes %>

<div class="row">
  <div class="col-md-12">
    <h3>Photos</h3>
    <% if @critique.headshots %>
      <% @critique.headshots.each do |headshot| %>
        <div class="headshot">
          <div class="headshot-image">
            <%= image_tag(headshot.image_url(:thumb)) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<h3>Video</h3>
<% if @critique.videos %>
  <% @critique.videos.each do |video| %>
    <%= render "shared/video_player", video: video %>
  <% end %>
<% end %>

<h3>Critique Response</h3>
<% if @critique.response %>
  <p><%= @critique.response.body %></p>
<% elsif current_user.mentor? %>
  <%= form_for @critique_response, url: critique_response_path(@critique.uuid) do |f| %>
   <%= f.label :body, "Please type your response here." %>
   <%= f.text_area :body %>

   <%= f.submit "Respond", class: "btn" %>
  <% end %>
<% else %>
  A critique response has not yet been submitted.
<% end %>
