<h1>Critique Requested</h1>

<h3>Project Title</h3>
<%= @critique.project_title %>

<h3>Critique Type</h3>
<%= @critique.types.map {|t| I18n.t("helpers.label.critique.types.#{t}")}.join(", ") %>

<h3>Project Notes</h3>
<%= @critique.notes %>

<div class="row">
  <div class="col-md-12">
    <h3>Photos</h3>
    <% if @critique.headshots %>
      <% @critique.headshots.each do |headshot| %>
        <div class="headshot">
          <div class="headshot-image">
            <%= image_tag(headshot.image_url(:thumb)) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<% if @critique.videos %>
  <h3>Video</h3>
  <% @critique.videos.each do |video| %>
    <div>
      <%= render "shared/video_player", video: video %>
    </div>
  <% end %>
<% end %>

<div>
  <h2>Critique Response</h2>
  <% if @critique.response %>
    <div class="row">
      <div class="col-md-12">
        <% if @critique.response.user.resume.profile_photo.present? %>
          <div class="col-md-4">
            <%= image_tag(@critique.response.user.resume.profile_photo.image_url(:profile_photo)) %>
          </div>
        <% end %>
        <div class="col-md-8">
          <h3><%= @critique.response.user.name %></h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 critique-response">
        <p><%= @critique.response.body %></p>
      </div>
    </div>
    <% if @critique.response.videos %>
      <h3>Video</h3>
      <% @critique.response.videos.each do |video| %>
        <div>
          <%= render "shared/video_player", video: video %>
        </div>
      <% end %>
    <% end %>
  <% elsif current_user.mentor? %>
    <%= form_for @critique_response, url: critique_response_path(@critique.uuid) do |f| %>
      <%= f.label :body, "Please type your response here." %>
      <%= f.text_area :body %>

      <%= f.fields_for :videos do |ff| %>
        <%= ff.label :video, "Upload A Video Response" %>
        <%= ff.file_field :video %>
      <% end %>

      <%= f.submit "Respond", class: "btn" %>
    <% end %>
  <% else %>
    <span>A critique response has not yet been submitted.</span>
  <% end %>
</div>
