<h1>Critique Requested</h1>

<h3>Project Title</h3>
<%= @critique.project_title %>

<h3>Project Notes</h3>
<%= @critique.notes %>

<div class="row">
  <div class="col-md-12">
    <h3>Photos</h3>
    <% if @critique.headshots %>
      <% @critique.headshots.each do |headshot| %>
        <div class="headshot">
          <div class="headshot-image">
            <%= image_tag(headshot.image_url(:thumb)) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<h3>Video</h3>
<% if @critique.videos %>
  <% @critique.videos.each do |video| %>
    <div class="video">
      <div class="video-iframe">
        <% if video.youtube_id.present? %>
          <iframe src="http://www.youtube.com/embed/<%= video.youtube_id %>?autoplay=0&rel=0&modestbranding=1&showinfo=0" frameborder="0" allowfullscreen class="cast-video"></iframe>
        <% elsif video.vimeo_id.present? %>
          <iframe src="https://player.vimeo.com/video/<%= video.vimeo_id %>?autoplay=0&portrait=0&color=CF7513" frameborder="0" allowfullscreen class="cast-video"></iframe>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<% if @critique.critique_response %>
  <h3>Critique Response</h3>
  <p><%= @critique.critique_response.response %></p>
<% end %>

<% if !@critique.critique_response && current_user.mentor? %>
  <%= form_for @critique_response, :url => critique_responses_path, :method => :post do |f| %>
   <%= f.label :response, "Please type your response here." %>
   <%= hidden_field_tag :critique, @critique.uuid %>
   <%= f.text_area :response %>
   <%= f.submit "Respond", class: "btn" %>
  <% end %>
<% end %>