<h1>Critique Requested</h1>
<%= link_to "Back to My Close Up", dashboard_path, class: "btn" %>
<h3>Audition Title: <%= @critique.project_title %></h3>
<p>Resume: <%= link_to public_resume_url(@critique.user.resume.slug), public_resume_url(@critique.user.resume.slug) %> </p>
<p>Critique Type: <%= @critique.types.map {|t| I18n.t("helpers.label.critique.types.#{t}")}.join(", ") %></p>
<p>Audition Notes: <%= @critique.notes %></p>

<div class="row">
  <div class="col-md-12">
    <% if @critique.headshots.present? %>
      <h4>Photos:</h4>
      <% @critique.headshots.each do |headshot| %>
        <div class="headshot">
          <div class="headshot-image">
            <%= image_tag(headshot.image_url(:thumb)) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<% if @critique.videos.present? %>
  <h4>Video:</h4>
  <div class="row">
    <div class="col-md-12">
      <% @critique.videos.available.each do |video| %>
        <div>
          <%= render "shared/video_player", video: video %>
        </div>
      <% end %>
    </div>
    <div class="col-md-12">
      <h4>How it works:</h4>
      <ul class="checklist">
        <li>Talent Mentors are paid $20 for each video critiqued</li>
        <li>Payment is sent via check on the 1st of every month</li>
        <li>Watch performers 2 minute video</li>
        <li>Take notes during their video</li>
        <li>Record your 6 minute professional critique about their performance, their resume and their headshots</li>
        <li>Complete the critique form</li>
        <li>Click “Send Critique”</li>
      </ul>
    </div>
  </div>
<% end %>

<div>
  <h2>Critique Response</h2>
  <% if @critique.response %>
    <div class="row">
      <div class="col-md-12">
        <% if @critique.response.user.resume.profile_photo.present? %>
          <div class="col-md-4">
            <%= image_tag(@critique.response.user.resume.profile_photo.image_url(:profile_photo)) %>
          </div>
        <% end %>
      </div>
      <div class="col-md-8">
        <h3><%= @critique.response.user.name %></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p><%= @critique.response.body %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        Headshot:
        <p><%= @critique.response.headshot_comment %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        Resume:
        <p><%= @critique.response.resume_comment %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        What to improve?
        <p><%= @critique.response.improvement_comment %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        Overall Comments:
        <p><%= @critique.response.overall_comment %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <% if @critique.response.videos.present? %>
          <h3>Video</h3>
          <% @critique.response.videos.available.each do |video| %>
            <div>
              <%= render "shared/video_player", video: video %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% elsif current_user.mentor? %>
    <div class="row">
      <div class="col-md-12">
        <%= form_for @critique_response, url: critique_response_path(@critique.uuid) do |f| %>
          <%= f.label :body, "Please type your response here." %>
          <%= f.text_area :body %>
          <%= f.label :headshot_comment , "Headshot:" %>
          <%= f.text_area :headshot_comment %>
          <%= f.label :resume_comment, "Resume" %>
          <%= f.text_area :resume_comment %>
          <%= f.label :improvement_comment, "What To Improve" %>
          <%= f.text_area :improvement_comment %>
          <%= f.label :overall_comment, "Overall Comments" %>
          <%= f.text_area :overall_comment %>

          <%= f.fields_for :videos do |ff| %>
            <%= ff.label :video, "Upload A Video Response" %>
            <%= ff.file_field :video %>
          <% end %>

          <div class="row">
            <div class="col-md-12">
              <%= f.submit "Send Critique", class: "btn" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <span>A critique response has not yet been submitted.</span>
  <% end %>
</div>
