<h1>Close Up</h1>

<ul>
<li>Height: <%= resume.height %></li>
<li>Weight: <%= resume.weight %></li>
<li>Hair Color: <%= resume.hair_color %></li>
<li>Eye Color: <%= resume.eye_color %></li>
<li>Phone: <%= resume.phone %></li>
<li>Unions: <%= resume.unions %></li>
<li>Agent Name: <%= resume.agent_name %></li>
<li>Agent Phone: <%= resume.agent_phone %></li>
<li>Additional Skills: <%= resume.additional_skills %></li>
</ul>

<%= link_to 'Edit My Close Up', edit_resume_path(resume) %>