<%= form_for @resume, :url => resume_path do |f| %>
  <% if f.object.errors %>
    <% f.object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  <% end %>
  <%= f.label :phone %>
  <%= f.phone_field :phone %>
  <%= f.label :height %>
  <%= f.select :height, height_options %>
  <%= f.label :weight %>
  <%= f.text_field :weight %>
  <%= f.label :hair_color %>
  <%= f.select :hair_color, hair_color_select %>
  <%= f.label :eye_color %>
  <%= f.select :eye_color, eye_color_select %>
  <%= f.label :unions %>
  <%= f.collection_check_boxes :unions, resume_unions, :id, :text %>
  <%= f.label :agent_name %>
  <%= f.text_field :agent_name %>
  <%= f.label :agent_phone %>
  <%= f.phone_field :agent_phone %>
  <%= f.label :additional_skills %>
  <%= f.text_area :additional_skills %>
  <%= f.label :descriptive_tag, "Descriptive Tags" %>
  <%= f.text_field :descriptive_tag %>

  <%= f.submit "Save" %>

<% end %>

<h3>Schools</h3>
<% current_user.schools.each do |school| %>
  <ul>
    <li>School Type: <%= education_type_name(school.education_type) %></li>
    <li>School: <%= school.school %></li>
    <li>Major: <%= school.major %></li>
    <li>Degree: <%= school.degree %></li>
    <li>Teacher: <%= school.teacher %></li>
    <li>Years: <%= school.years %></li>
    <li>Instrument: <%= school.instruments %></li>
    <li><%= link_to 'Edit', edit_school_path(school) %></li>
  </ul>
<% end %>
<li><%= link_to "Add School", new_school_path %></li>


<h3>Projects</h3>
<% current_user.projects.each do |project| %>
  <ul>
    <li>Project Type: <%= project_type_name(project.project_type) %></li>
    <li>Title: <%= project.title %></li>
    <li>Role: <%= project.role %></li>
    <li>Director Studio: <%= project.director_studio %></li>
    <li><%= link_to "Edit", edit_project_path(project) %></li>
  </ul>
<% end %>
<li><%= link_to "Add Project", new_project_path %></li>

