<%= form_for @resume, :url => resume_path do |f| %>
  <% if f.object.errors %>
    <% f.object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  <% end %>
  <ul>
    <%= f.label :phone %>
    <%= f.phone_field :phone %>
    <%= f.label :height %>
    <%= f.select :height, height_options %>
    <%= f.label :weight %>
    <%= f.text_field :weight %>
    <%= f.label :hair_color %>
    <%= f.select :hair_color, hair_color_select %>
    <%= f.label :eye_color %>
    <%= f.select :eye_color, eye_color_select %>
    <%= f.label :gender %>
    <%= f.select :gender, gender_select %>
    <%= f.label :hair_length %>
    <%= f.select :hair_length, hair_length_select %>
    <%= f.label :piercing, "Do you have Piercings" %>
    <%= f.select :piercing, piercing_select %>
    <%= f.label :tattoo, "Do you have Tattoos?" %>
    <%= f.select :tattoo, tatoo_select %>
    <%= f.label :nudity, "What level of nudity are you comfortable with?" %>
    <%= f.select :nudity, nudity_select %>
    <%= f.label :citizen, "Citizenship?" %>
    <%= f.select :citizen, citizen_select %>
    <p>Do you have a current passport?</p>
      <%= f.label :passport, "Yes", :value => "true" %>
    <li>
      <%= f.radio_button :passport, true %>
    </li>
      <%= f.label :passport, "No", :value => "false" %>
    <li>
      <%= f.radio_button :passport, false %>
    </li>
    <%= f.label :unions %>
    <%= f.collection_check_boxes :unions, resume_unions, :id, :text %>
    <br>
    <%= f.label :agent_name %>
    <%= f.text_field :agent_name %>
    <%= f.label :agent_phone %>
    <%= f.phone_field :agent_phone %>
    <%= f.label :additional_skills %>
    <%= f.text_area :additional_skills %>
    <%= f.label :descriptive_tag, "Descriptive Tags" %>
    <%= f.text_field :descriptive_tag %>
  </ul>

  <%= f.submit "Save" %>

<% end %>

<h3>Schools</h3>

<% current_user.schools.each do |school| %>
	<div class="row repeatable-row">
    	<div class="col-md-12">
			<h4><%= school.school %> <span><%= link_to 'Edit', edit_school_path(school), class: "btn-edit" %></span></h4>
		</div>
		<div class="col-md-4">
			<p>School Type: <%= education_type_name(school.education_type) %></p>
			<p>Major: <%= school.major %></p>
		</div>
		<div class="col-md-4">
			<p>Degree: <%= school.degree %></p>
			<p>Years: <%= school.years %></p>
		</div>
		<div class="col-md-4">
			<p>Teacher: <%= school.teacher %></p>
			<p>Instrument: <%= school.instruments %></p>
		</div>
	</div>
<% end %>
<span class="glyphicon glyphicon-plus"></span> <%= link_to "Add a school", new_school_path, class: "btn-add-new" %>



<h3>Projects</h3>
<div class="project-list">
  <% current_user.projects.each do |project| %>
    <%= render 'project', :project => project %>
  <% end %>
</div>

<span class="glyphicon glyphicon-plus"></span> <%= link_to "Add a project", "#", class: "btn-add-new show-project-form" %>
<div class="is-hidden new-project-form">
<%= form_for @project, :remote => true do |f| %>
  <%= f.label :project_type %>
  <%= f.select :project_type, project_type_select %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :role %>
  <%= f.text_field :role %>
  <%= f.label :director_studio %>
  <%= f.text_field :director_studio %>
  <%= f.submit "Save Project", :class => "project-save" %>
<% end %>
</div>
