<%= form_for @resume, :url => resume_path do |f| %>
  <% if f.object.errors %>
    <% f.object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  <% end %>
  <ul>
    <%= f.label :phone %>
    <%= f.phone_field :phone %>
    <%= f.label :height %>
    <%= f.select :height, height_options %>
    <%= f.label :weight %>
    <%= f.text_field :weight %>
    <%= f.label :hair_color %>
    <%= f.select :hair_color, hair_color_select %>
    <%= f.label :eye_color %>
    <%= f.select :eye_color, eye_color_select %>
    <%= f.label :gender %>
    <%= f.select :gender, gender_select %>
    <%= f.label :hair_length %>
    <%= f.select :hair_length, hair_length_select %>
    <%= f.label :piercing, "Do you have Piercings" %>
    <%= f.select :piercing, piercing_select %>
    <%= f.label :tattoo, "Do you have Tattoos?" %>
    <%= f.select :tattoo, tatoo_select %>
    <%= f.label :nudity, "What level of nudity are you comfortable with?" %>
    <%= f.select :nudity, nudity_select %>
    <%= f.label :citizen, "Citizenship?" %>
    <%= f.select :citizen, citizen_select %>
    <p>Do you have a current passport?</p>
      <%= f.label :passport, "Yes", :value => "true" %>
    <li>
      <%= f.radio_button :passport, true %>
    </li>
      <%= f.label :passport, "No", :value => "false" %>
    <li>
      <%= f.radio_button :passport, false %>
    </li>
    <%= f.label :unions %>
    <%= f.collection_check_boxes :unions, resume_unions, :id, :text %>
    <br>
    <%= f.label :agent_name %>
    <%= f.text_field :agent_name %>
    <%= f.label :agent_phone %>
    <%= f.phone_field :agent_phone %>
    <%= f.label :additional_skills %>
    <%= f.text_area :additional_skills %>
    <%= f.label :descriptive_tag, "Descriptive Tags" %>
    <%= f.text_field :descriptive_tag %>
  </ul>

  <%= f.submit "Save" %>

<% end %>

<h3>Your Head Shots</h3>
<span class="glyphicon glyphicon-plus"></span> <%= link_to 'Add a Head Shot', '#new-headshot-form', class: "btn-add-new show-headshot-form" %>
<div class="is-hidden new-headshot-form" id="new-headshot-form">
  <%= form_for @headshot, :multipart => true do |f| %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>

    <%= f.submit "Upload Head Shot" %>
  <% end %>
</div>

<div class="headshot-list">
  <% current_user.headshots.each do |headshot| %>
    <div class="headshot">
      <%= image_tag(headshot.image_url(:thumb)) %>
      <%= link_to "Delete", headshot_path(headshot), method: :delete %>
      <% if headshot.is_background %>
        Current background – <%= link_to "Remove", headshot_path(headshot, background: false), method: :put %>
      <% else %>
        <%= link_to "Set as background", headshot_path(headshot, background: true), method: :put %>
      <% end %>
    </div>
  <% end %>
</div>


<h3>Schools</h3>

<div class="school-list">
  <% current_user.schools.each do |school| %>
    <%= render 'school', :school => school %>
  <% end %>
</div>


<span class="glyphicon glyphicon-plus"></span> <%= link_to "Add a school", "#new-school-form", class: "btn-add-new show-school-form" %>
<div class="is-hidden new-school-form" id="new-school-form">
  <%= form_for @school, :remote => true do |f| %>
    <%= f.label :education_type %>
    <%= f.select :education_type, education_type_select %>
    <%= f.label :school %>
    <%= f.text_field :school %>
    <%= f.label :major %>
    <%= f.text_field :major %>
    <%= f.label :degree %>
    <%= f.text_field :degree %>
    <%= f.label :teacher %>
    <%= f.text_field :teacher %>
    <%= f.label :years %>
    <%= f.text_field :years %>
    <%= f.label :instruments %>
    <%= f.text_field :instruments %>
    <%= f.submit "Save school", :class => "school-save" %>
  <% end %>
</div>


<h3>Projects</h3>
<div class="project-list">
  <% current_user.projects.each do |project| %>
    <%= render 'project', :project => project %>
  <% end %>
</div>

<span class="glyphicon glyphicon-plus"></span> <%= link_to "Add a project", "#new-project-form", class: "btn-add-new show-project-form" %>
<div class="is-hidden new-project-form" id="new-project-form">
  <%= form_for @project, :remote => true do |f| %>
    <%= f.label :project_type %>
    <%= f.select :project_type, project_type_select %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :role %>
    <%= f.text_field :role %>
    <%= f.label :director_studio %>
    <%= f.text_field :director_studio %>
    <%= f.submit "Save Project", :class => "project-save" %>
  <% end %>
</div>

