<div class="row repeatable-row">
  <div class="col-md-12">
    <h4>Title: <%= project.title %> <%= link_to "Edit", edit_project_path(project) %></h4>
  </div>
  <div class="col-md-4">
    <p>Project Type: <%= project_type_name(project.project_type) %></p>
  </div>
  <div class="col-md-4">
    <p>Role: <%= project.role %></p>
  </div>
  <div class="col-md-4">
    <p>Director Studio: <%= project.director_studio %></p>
  </div>
</div>