<div class="col-md-4">
  <h4>School: <%= school.school %>
  <span class="glyphicon glyphicon-trash mini-link"></span> <%= link_to "Delete", school_path(school), method: :delete, :class => "mini-link" %> |
  <%= link_to "Edit", edit_school_path(school), :class => "mini-link" %></h4>

  <p>Acting: <%= school.acting %></p>
  <p>Dance: <%= school.dance %></p>
  <p>Voice: <%= school.voice %></p>
  <p>Instruments: <%= school.instruments %></p>
  <p>Stage Combat: <%= school.stage_combat %></p>
</div>
