<div class="row repeatable-row">
  <div class="col-md-12">
    <% if @resume.accents.present? %>
      <%= render partial: "resumes/skill_list", locals: { name: "Accents", skills: @resume.accents } %>
    <% end %>

    <% if @resume.athletic_endeavors.present? %>
      <%= render partial: "resumes/skill_list", locals: { name: "Athletic Endeavors", skills: @resume.athletic_endeavors } %>
    <% end %>

    <% if @resume.disabilities.present? %>
      <%= render partial: "resumes/skill_list", locals: { name: "Disabilities", skills: @resume.disabilities } %>
    <% end %>

    <% if @resume.disability_assistive_devices.present? %>
      <%= render partial: "resumes/skill_list", locals: { name: "Disability Assistive Devices", skills: @resume.disability_assistive_devices } %>
    <% end %>

    <% if @resume.ethnicities.present? %>
      <%= render partial: "resumes/skill_list", locals: { name: "Ethnicities", skills: @resume.ethnicities } %>
    <% end %>

    <% if @resume.fluent_languages.present? %>
      <%= render partial: "resumes/skill_list", locals: { name: "Fluent Languages", skills: @resume.fluent_languages } %>
    <% end %>

    <% if @resume.performance_skills.present? %>
      <%= render partial: "resumes/skill_list", locals: { name: "Performance Skills", skills: @resume.performance_skills } %>
    <% end %>
  </div>
</div>
