<table class="print-content">
  <tr>
    <% if @resume.resume_photo %>
      <td class="resume-photo">
      <%= image_tag(@resume.resume_photo.image_url(:resume_print)) %>
      </td>
    <% end %>
    <td class="contact-info">
      <h1><%= @resume.user.name %></h1>
      <table>
        <tr>
          <td>
            <p><%= @resume.user.email %></p>
            <% if @resume.user.birthday >= 18.years.ago %>
              <p>Parent: <%= @resume.user.parent_name %></p>
              <p>Parent's Cell: <%= @resume.user.parent_phone %></p>
              <p>Birthday: <%= @resume.user.birthday %></p>
            <% end %>
            <% if @resume.user.birthday < 18.years.ago %>
              <p><%= @resume.phone %></p>
            <% end %>
            <p><%= sentence_for_category_collection(@resume.unions) %></p>
          </td>
          <td>
            <% if @resume.height %>
              <p>Height: <%= @resume.height %></p>
            <% end %>
            <% if @resume.user.birthday >= 18.years.ago %>
              <% if @resume.weight %>
                <p>Weight: <%= @resume.weight %></p>
              <% end %>
            <% end %>
            <% if @resume.hair_color %>
              <p><%= @resume.hair_color %> hair</p>
            <% end %>
            <% if @resume.eye_color %>
              <p><%= @resume.eye_color %> eyes</p>
            <% end %>
            <% if @resume.agent_name %>
              <p>Agent: <%= @resume.agent_name %></p>
            <% end %>
            <% if @resume.manager_name %>
              <p> Manager: <%= @resume.manager_name %></p>
            <% end %>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <% if @resume.projects.present? %>
    <tr>
      <td class="experience" colspan="2">
        <% @resume.projects.each do |project| %>
        <h3><%= project.project_type.name if project.project_type.present? %></h3>
          <table class="project">
            <thead>
              <th>Title</th>
              <th>Role</th>
              <th>Director</th>
              <tbody>
                <tr>
                  <td>
                    <%= project.title %>
                  </td>
                  <td>
                    <%= project.role %>
                  </td>
                  <td>
                    <%= project.director_studio %>
                  </td>
                </tr>
              </tbody>
          <table>
        <% end %>
      </td>
    </tr>
  <% end %>

  <% if @resume.schools.present? %>
    <tr>
      <td class="training">
        <h3>Training</h3>
          <% @resume.schools.each do |school| %>
            <h4>School: <%= school.school %></h4>
            <p>School Type: <%= education_type_name(school.education_type) %></p>
            <p>Years: <%= school.years %></p>
            <p>Major: <%= school.major %></p>
            <p>Degree: <%= school.degree %></p>
            <p>Teacher: <%= school.teacher %></p>
            <p>Instrument: <%= school.instruments %></p>
          <% end %>
      </td>
    </tr>
  <% end %>

  <% if @resume.additional_skills? %>
    <tr>
      <td class="addl-skills" colspan="2">
        <h3>Special Skills</h3>
        <p><%= @resume.additional_skills %></p>
    </tr>
  <% end %>