<table class="print-content">
  <tr>
    <% if @resume.resume_photo %>
      <td class="resume-photo">
      <%= image_tag(@resume.resume_photo.image_url(:resume_print)) %>
      </td>
    <% end %>
    <td class="contact-info">
      <h1><%= @resume.user.name %></h1>
      <table class="contact-info">
        <tr>
          <td>
            <p><%= @resume.user.email %></p>
            <% if @resume.user.birthday >= 18.years.ago %>
              <p>Parent: <%= @resume.user.parent_name %></p>
              <p>Parent's Cell: <%= @resume.user.parent_phone %></p>
              <p>Birthday: <%= @resume.user.birthday %></p>
            <% end %>
            <% if @resume.user.birthday < 18.years.ago %>
              <p><%= @resume.phone %></p>
            <% end %>
            <p><%= sentence_for_category_collection(@resume.unions) %></p>
          </td>
          <td>
            <% if @resume.height.present? %>
              <p>Height: <%= @resume.height %></p>
            <% end %>
            <% if @resume.user.birthday >= 18.years.ago %>
              <% if @resume.weight.present? %>
                <p>Weight: <%= @resume.weight %></p>
              <% end %>
            <% end %>
            <% if @resume.hair_color.present? %>
              <p>Hair: <%= @resume.hair_color %></p>
            <% end %>
            <% if @resume.eye_color.present? %>
              <p>Eyes: <%= @resume.eye_color %></p>
            <% end %>
            <% if @resume.agent_name.present? %>
              <p>Agent: <%= @resume.agent_name %></p>
            <% end %>
            <% if @resume.manager_name.present? %>
              <p> Manager: <%= @resume.manager_name %></p>
            <% end %>
          </td>
        </tr>


  <% if @resume.projects.present? %>
    <tr>
      <td class="experience" colspan="2">
        <% @resume.grouped_projects.each do |key, value| %>
          <h3><%= key.name %></h3>
          <table class="project">
            <tbody>
              <% value.each do |project| %>
                <tr>
                  <td> <%= project.title %> </td>
                  <td> <%= project.role %> </td>
                  <td> <%= project.director_studio %> </td>
                </tr>
              <% end %>
            </tbody>
          <table>
        <% end %>
      </td>
    </tr>
  <% end %>

  <% if @resume.schools.present? %>
    <tr>
      <td class="training">
        <h3>Education & Training</h3>
          <% @resume.schools.each do |school| %>
            <% if school.acting.present? %>
              <p> <strong>Acting:</strong> <%= school.acting %></p>
            <% end %>
            <% if school.dance.present? %>
              <p> <strong>Dance:</strong> <%= school.dance %></p>
            <% end %>
            <% if school.voice.present? %>
              <p> <strong>Voice:</strong> <%= school.voice %></p>
            <% end %>
            <% if school.instruments.present? %>
              <p> <strong>Instruments:</strong> <%= school.instruments %></p>
            <% end %>
            <% if school.stage_combat.present? %>
              <p> <strong>Stage Combat:</strong> <%= school.stage_combat %></p>
            <% end %>
          <% end %>
      </td>
    </tr>
  <% end %>

  <% if @resume.ordered_performance_skills.present? %>
    <tr>
      <td class="addl-skills" colspan="2">
        <h3>Special Skills</h3>
        <p><%= @resume.ordered_performance_skills %></p>
    </tr>
  <% end %>

      </table>
  </td>
</tr>
