<div class="print-content">
  <div class="row">
    <div class="col-md-12 row">
      <% if @resume.resume_photo %>
        <div class="resume-photo col-md-4">
          <%= image_tag(@resume.resume_photo.image_url(:resume_print)) %>
        </div>
      <% end %>
      <div class="contact-info col-md-8">
        <h1><%= @resume.user.name %></h1>
        <p><%= sentence_for_category_collection(@resume.unions) %></p>
        <p><%= @resume.phone %></p>
        <p><%= @resume.user.email %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <% if @resume.projects.present? %>
        <h3>Experience</h3>
        <div class="project-list row">
          <% @resume.projects.each do |project| %>
            <div class="col-md-4">
              <h4>Title: <%= project.title %></h4>
              <p>Project Type: <%= project.project_type.name if project.project_type.present? %></p>
              <p>Role: <%= project.role %></p>
              <p>Director Studio: <%= project.director_studio %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <% if @resume.schools.present? %>
        <h3>Education</h3>
        <div class="school-list row">
          <% @resume.schools.each do |school| %>
            <div class="col-md-4">
              <h4>School: <%= school.school %></h4>
              <p>School Type: <%= education_type_name(school.education_type) %></p>
              <p>Years: <%= school.years %></p>
              <p>Major: <%= school.major %></p>
              <p>Degree: <%= school.degree %></p>
              <p>Teacher: <%= school.teacher %></p>
              <p>Instrument: <%= school.instruments %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4">
        <% if @resume.additional_skills? %>
          <h3>Special Skills</h3>
          <%= @resume.additional_skills %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12 row">
        <h5>Resume created by CastNotice</h5>
      </div>
    </div>
  </div>
</div>
