<% if current_user.background_image %>
  <% content_for :background do %>
    <div class="bg-full" id="bg-headshot" style="background-image: url(<%= current_user.background_image.image_url(:background) %>)"></div>
  <% end %>
<% end %>
<h1><%= current_user.name %></h1>
<h3><%= current_user.resume.descriptive_tag %></h3>

<h3>Personal Information</h3>
	<div class="row repeatable-row">
		<div class="col-md-6">
		  <p>Birthday: <%= current_user.birthday %></p>
		  <p>Height: <%= current_user.resume.height %></p>
		  <p>Weight: <%= current_user.resume.weight %></p>
		  <p>Hair Color: <%= current_user.resume.hair_color %></p>
		  <p>Eye Color: <%= current_user.resume.eye_color %></p>
		  
		</div>
		<div class="col-md-6">
			<p>Phone: <%= current_user.resume.phone %></p>
		  <p>Email: <%= current_user.email %></p>
		  <p>Unions: <%= sentence_for_category_collection(current_user.resume.unions) %></p>
		  <p>Agent Name: <%= current_user.resume.agent_name %></p>
		  <p>Agent Phone: <%= current_user.resume.agent_phone %></p>
		</div>
	</div>
	
<div class="row">
	<div class="col-md-12">
		<% if current_user.headshots.present? %>
		  <h3>Photos</h3>
        <% current_user.headshots.each do |headshot| %>
          <div class="headshot"><%= image_tag(headshot.image_url(:thumb)) %></div>
        <% end %>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<% if current_user.videos.present? %>
		  <h3>Your Videos</h3>
		
		  <% current_user.videos.each do |video| %>
			<div class="video">
			  <%#= image_tag(video.video_thumb_url, class: "video-thumbnail") %>
			  <% if video.youtube_id.present? %>
				<iframe src="http://www.youtube.com/embed/<%= video.youtube_id %>?autoplay=0&rel=0&modestbranding=1&showinfo=0" frameborder="0" allowfullscreen class="cast-video"></iframe>
			  <% elsif video.vimeo_id.present? %>
				<iframe src="https://player.vimeo.com/video/<%= video.vimeo_id %>?autoplay=0&portrait=0&color=CF7513" frameborder="0" allowfullscreen class="cast-video"></iframe>
			  <% end %>
			  <%#= image_tag asset_path('button-play.png'), :class => "play-button" %>
			</div>
		  <% end %>
		<% end %>
	</div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Experience</h3>
    <div class="project-list row">
      <% current_user.projects.each do |project| %>
        <%= render 'project', :project => project %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Schools</h3>
    <div class="school-list row">
      <% current_user.schools.each do |school| %>
        <%= render 'school', :school => school %>
      <% end %>
    </div>
  </div>
</div>
