<% content_for :background do %>
  <%= image_tag(background_image(current_user).image_url(:background), class: "bg-headshot") if background_image(current_user) %>
<% end %>
<h1><%= current_user.name %></h1>
<h3><%= current_user.resume.descriptive_tag %></h3>

<h3>Personal Information</h3>
<ul>
  <li>Birthday: <%= current_user.birthday %></li>
  <li>Height: <%= current_user.resume.height %></li>
  <li>Weight: <%= current_user.resume.weight %></li>
  <li>Hair Color: <%= current_user.resume.hair_color %></li>
  <li>Eye Color: <%= current_user.resume.eye_color %></li>
  <li>Phone: <%= current_user.resume.phone %></li>
  <li>Email: <%= current_user.email %></li>
  <li>Unions: <%= current_user.resume.unions %></li>
  <li>Agent Name: <%= current_user.resume.agent_name %></li>
  <li>Agent Phone: <%= current_user.resume.agent_phone %></li>
</ul>

<% if current_user.headshots.present? %>
  <h3>Head Shots</h3>
  <% current_user.headshots.each do |headshot| %>
    <div class="headshot"><%= image_tag(headshot.image_url(:thumb)) %></div>
  <% end %>
<% end %>

<h3>Experience</h3>
<% current_user.projects %>
<%= render template: 'projects/show' %>

<h3>Schools</h3>
<% current_user.schools %>
<%= render template: 'schools/show' %>