<% if @resume.background_image %>
  <% content_for :background do %>
    <div class="bg-full" id="bg-headshot" style="background-image: url(<%= @resume.background_image.image_url(:background) %>)"></div>
  <% end %>
<% end %>

<div class="row">
	<div class="col-md-12">
		<h1><%= @resume.user.name %> <%= link_to "Print Resume", print_resume_path(@resume), target: "_blank", class: "btn" %></h1>
    <% if current_user && current_user.can_send_messages_to?(@resume.user) %>
      <h3><%= link_to "Send Message", new_conversation_path(recipient_id: @resume.user), class: "btn" %></h3>
    <% end %>
		<h3 class="preview-descriptive"><%= @resume.descriptive_tag %></h3>
	</div>
</div>

<% if @resume.user.under_18? %>
  <h3>Parental Information</h3>
  <div class="row repeatable-row">
    <div class="col-md-6">
      <p>Name: <%= @resume.user.parent_name %></p>
      <p>Email: <%= @resume.user.parent_email %></p>
      <p>Location: <%= @resume.user.parent_location %></p>
      <p>Location 2: <%= @resume.user.parent_location_two %></p>
    </div>
    <div class="col-md-6">
      <p>City: <%= @resume.user.parent_city %></p>
      <p>State: <%= @resume.user.parent_state %></p>
      <p>Zip: <%= @resume.user.parent_zip %></p>
      <p>Phone: <%= @resume.user.parent_phone %></p>
    </div>
  </div>
<% end %>

<h3>Personal Information</h3>

<div class="row repeatable-row">
	<div class="col-md-6">
	  <p>Birthday: <%= @resume.user.birthday %></p>
	  <p>Height: <%= @resume.height %></p>
	  <p>Weight: <%= @resume.weight %></p>
	  <p>Hair Color: <%= @resume.hair_color %></p>
	  <p>Eye Color: <%= @resume.eye_color %></p>
	</div>

	<div class="col-md-6">
		<p>Phone: <%= @resume.phone %></p>
	  <p>Email: <%= @resume.user.email %></p>
	  <p>Unions: <%= sentence_for_category_collection(@resume.unions) %></p>
	  <p>Agent Name: <%= @resume.agent_name %></p>
	  <p>Agent Phone: <%= @resume.agent_phone %></p>
	</div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @resume.headshots.present? %>
      <h3>Photos</h3>
      <% @resume.headshots.each do |headshot| %>
        <div class="headshot"><%= image_tag(headshot.image_url(:thumb)) %></div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
	<div class="col-md-12">
		<% if @resume.videos.present? %>
		  <h3>Videos</h3>
		  <% @resume.videos.processed.each do |video| %>
		    <%= render "shared/video_player", video: video %>
		  <% end %>
		<% end %>
	</div>
</div>

<% if @resume.projects.present? %>
  <div class="row">
    <div class="col-md-12">
      <h3>Experience</h3>
      <%= render template: 'projects/show', locals: { projects: @resume.projects } %>
    </div>
  </div>
<% end %>

<% if @resume.schools.present? %>
  <div class="row">
    <div class="col-md-12">
      <h3>Schools</h3>
      <%= render template: 'schools/show', locals: { schools: @resume.schools } %>
    </div>
  </div>
<% end %>

<% if @resume.additional_skills.present? || @resume.has_skill_attributes? %>
  <div class="row">
    <div class="col-md-12">
      <h3>Skills</h3>
      <%= render "resumes/skills" %>
      <% if @resume.additional_skills.present? %>
        <h4>Additional Skills:</h4>
        <p><%= @resume.additional_skills %></p>
      <% end %>
    </div>
  </div>
<% end %>
