<h1><%= @account_type.titleize %> </h1>
<% if @account_type == "mentors" %>
  <%= link_to "Invite", superadmin_mentors_invite_path, class: "btn" %>
<% end %>

<table class="standard">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%- @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= link_to "Edit", edit_superadmin_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
