<!DOCTYPE html>
<html>
<head>
  <title>Castnotice</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <script src="https://js.stripe.com/v1/"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if should_see_navigation? %>
    <%= render "layouts/header" %>
  <% end %>
  <% if content_for?(:background) %>
    <%= yield :background %>
  <% else %>
    <div class="bg-full" id="bg-about"></div>
  <% end %>

  <div class="container">
    <%= render "layouts/flash_messages" %>
    <div class="main-content">
      <%= yield %>
    </div>
  </div>

  <% if should_see_navigation? %>
    <%= render "layouts/footer" %>
  <% end %>
</body>
</html>
