<%= f.label :name, "Full Name" %>
<%= f.text_field :name, :autofocus => true %>

<%= f.label :email %>
<%= f.email_field :email %>

<%= f.label :location_address, "Address One" %>
<%= f.text_field :location_address %>

<%= f.label :location_address_two, "Address Two" %>
<%= f.text_field :location_address_two %>

<%= f.label :location_city, "City" %>
<%= f.text_field :location_city %>

<%= f.label :location_state, "State" %>
<%= f.select :location_state, us_states_select, include_blank: true %>

<%= f.label :location_zip, "Zip Code" %>
<%= f.text_field :location_zip %>

<div class="input-wrapper">
  <%= f.label :birthday %><br>
  <%= f.date_select :birthday, start_year: 1950, end_year: Time.now.year, :include_blank => true %>
</div>
