<h1>Account Information</h1>
<div class="account-information">

  <p>Your account information is listed below.</p>
  <% if @user.stripe_plan %>
    <div class="plan-information">
      Plan Level: <%= @user.stripe_plan.plan.name %>
    </div>
  <% end %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li class="error"><%= msg %></li>
      <% end %>      
    </ul>
  </div>
  <% end %>
  <%= form_for @user, :url => accounts_path, :method => :put do |f| %>
    <%= render 'fields', f: f %>
    <%= render 'registrations/parent_fields', f: f %>
    <%= f.submit "Save" %>
  <% end %>
</div>
